<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<style>
      body {
        
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;
    
}
  
</style>
<body >
    
    <form action="/addcard/{{deckname}}" method="post">
        <label for="">Deck name</label>
        <input type="text" value="{{deckname}}" name="deckname" readonly><br>
        <hr>
        <label for="">Front</label>
        <input type="text" name="front"><br>
        <label for="">Back</label>
        <input type="text" name="back">
      
        <hr><input type="submit" value="Add Card">
    </form>
</body>
</html>