<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
      
      body {
        
        
    margin:50px 0px; padding:0px;
    text-align:center;
    align:center;
    
}
  

        
        
        #ans{display: none;}
        #card{width: 350px; border: 1px solid green;background: rgb(113, 131, 11);padding: 10px;margin: 5px;margin-right:auto;margin-left:auto;}
       
    </style>
</head>
<body onload="load();" >
   
    <div id="card">
        <h2>Your question</h2> 
        <h4>{{rows[2]}}</h4>
        <button type="button" id="bt1" onclick="counterFn()" >I know</button>
        <input type="button" value="Show Answer" onclick="show()">
        
        
        <h5 id="ans">{{rows[3]}}</h5>
    </div>
    
    <br><br>
    <form action="/review/{{deckname}}" method="get">
        <div class="">
            <label for="">Select Difficulty: </label>
    
            <input type="radio" name="hardness" value="easy" required>
            <label for="">Easy</label>
    
            <input type="radio" name="hardness" value="medium">
            <label for="">Medium</label>
    
            <input type="radio" name="hardness" value="hard">
            <label for="">Hard</label>
        </div>
        <br>
        <input type="submit" value="Submit Response">
    </form>
    

    

    <h1>SCORE:<a id="counterValue"> </a><h1>
    <button width="500" height="500" id = counterValue class="button button1" onclick="javascript:reset()">Reset Score</button>
    <hr>
    <p><a href="/addcard/{{deckname}}">Add Card</a> |
    
    <a href="/">Go home</a></p>
    <script>
        function show(){
            document.getElementById("ans").style.display="block"
        }
        var counter = 0;

function load()
           {
           if(localStorage.getItem("counter")!=null)
                 {
                     counter = Number(localStorage.getItem("counter"));
                     
                     document.getElementById("counterValue").innerHTML = counter;
                      

                 }
           }
         var counter= 0;        

         function counterFn() {          
            counter = Number(localStorage.getItem("counter"));

            console.log(counter);
            counter += 1;
            localStorage.setItem("counter",counter);   
                      
            document.getElementById("counterValue").innerHTML = counter;
            bt1 = document.getElementById('bt1');
                     bt1.onclick = null;
           
            
         }
   

function reset(){
  window.localStorage.clear()
  document.getElementById('counterValue').innerHTML=0;  
  }
    </script>
</body>
</html>